<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Tools</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/whois' ? 'active' : '' %>" href="/whois">Whois</a>
            </li>
        </ul>
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <form action="/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>