<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
        <header class="main-header">
                <nav class="main-header__nav">
                </nav>
            </header>
    <main>
        <div class="login-wrap">
            <div class="login-box">
                <h1><span style="color: rgb(2,88,255)">Gosite</span> Tools</h1>
                <div class="login-msg"><%= flashMsg %></div>
                <form class="product-form" action="/login" method="POST">
                    <button class="login-btn">Login</button>
                </form>
            </div>
        </div>
    </main>
</body>

</html>