<%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="/css/tool.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <div class="login-wrap">
            <div class="login-box">
                <div class="logo">
                    <img src="/img/site-logo.png">
                </div>
                <div class="login-msg"><%= flashMsg %></div>
                <form class="tool-form" action="/login" method="POST">
                    <button class="login-btn">Login</button>
                </form>
            </div>
        </div>
    </main>
</body>

</html>