<%- include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/tool.css"> 

</head>

<body>
    <%- include('includes/nav.ejs'); %>

    <main>
        <div class="tool-box">
            <div class="tool-title">
                <img src="/img/wehost.png">
            </div>
            <h3 class="text-nowrap">Domain Name: </h3>
            <div class="row">
                <form id="test" class="tool-form" action="/wehost" method="POST">
                    <input type="text" name="domainName">
                    <div class="row-separator"></div>
                    <button type="submit" value="Submit">Submit</button>
                </form>
            </div>
            <div class="row-separator"></div>
            <div class="row-separator"></div>
            <!--Flash Messages-->
            <div class="row flash-msg">
                <% if(flashMsg == 0) {%>
                    <div class='danger'>We don't host it</div>
                <% } else if(flashMsg == 1) {%>
                    <div class='success'>We host it</div>
                <% } %>
            </div>
            <!--TBD Expandable Log output-->
            <div class="row wehost">
            </div>
        </div>
    </main>
</body>

</html>