<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <%- include('includes/nav.ejs'); %>

    <main>
        <h3 class="text-nowrap">Domain Name: </h3>
        </div>
         <div class="row">
          <form id="test" action="/whois" method="POST">
            <input type="text" name="domainName">
            <div class="row-separator"></div>
            <input type="submit" value="Submit">
          </form>
         </div>
         <div class="row-separator"></div>
         <div class="row-separator"></div>
         <!--Flash Messages-->
         <div class="row flash-msg">
             <% if(flashMsg == 0) {%>
                <div class='danger'>Domain is taken</div>
            <% } else if(flashMsg == 1) {%>
                <div class='success'>Domain is available</div>
            <% } %>
         </div>
         <!--TBD Expandable Log output-->
         <div class="row whois">
         </div>
        </div>
    </main>
</body>

</html>